
.container_1238{vertical-align:top;text-align:justify;margin-right:15px;margin-left:15px;margin-bottom:30px;margin-top:30px;display:inline-block;color:#888888;width:30%;}
.container_1238 IMG{width:100%;}
.container_1238 H3{font-size:24px;color:#303334;}
.container_1238 P{font-size:18px;}