
.container_1265{z-index:4;position:relative;color:#2c5d94;width:100%;display:block;background-position-y:top;background-position-x:left;background-repeat:repeat-x;background-image:url('/user_images/635779991032628055.png');height:150px;}
.container_1265 UL{overflow:hidden;list-style-type:none;margin:0px;}
.container_1265 A{display:table-cell;font-family:Times New Roman, Times, serif;text-transform:uppercase;font-size:18px;text-decoration:none;color:#2c5d94;height:150px;vertical-align:middle;padding-right:15px;padding-left:15px;}
.container_1265 LI{display:inline-block;}
.container_1265 a:hover {color:#ff0101;border-top:solid 10px #ff0101;height:140px;}