
.container_1240 UL{overflow:hidden;list-style-type:none;margin:0px;}
.container_1240 A{display:table-cell;font-size:18px;text-decoration:none;color:#2c5d94;}
.container_1240 LI{display:inline-block; padding:15px;}
.container_1240 a:hover {color:#ff0101;}
.container_1240 DIV{padding:30px;}
.container_1240{border-top-width:5px;border-top-style:solid;border-top-color:#25bce9;}