
.container_1339 LABEL{vertical-align:top;width:200px;float:left;}
.container_1339 DIV:nth-of-type(1) DIV{padding-right:0px;padding-left:0px;padding-bottom:10px;padding-top:10px;clear:both;}
.container_1339 DIV:nth-of-type(1){padding-right:10px;padding-left:10px;padding-bottom:10px;padding-top:10px;}