
.container_1237{text-align:justify;margin-right:15px;margin-left:15px;margin-bottom:15px;margin-top:15px;display:inline-block;color:#888888;width:30%;}
.container_1237 IMG{width:100%;}
.container_1237 H3{font-size:24px;color:#303334;}
.container_1237 P{font-size:18px;}