
.container_1254{text-indent:20px;padding-right:20px;padding-left:20px;text-align:justify;margin-bottom:30px;color:rgb(61,131,181);}
.container_1254 UL{list-style-position:inside;list-style-type:decimal;}
.container_1254 LI{margin-bottom:10px;}