
.container_1297{background-repeat:no-repeat;color:#333333;background-image:url('/user_images/635787305032270864.png');width:100%;display:inline-block;text-align:center;background-position:center top;}
.container_1297 H1{padding-bottom:30px;padding-top:30px;}
.container_1297 P{text-indent:30px;text-align:justify;padding-right:30px;padding-left:30px;padding-bottom:15px;padding-top:15px;}
.container_1297 H2{font-size:200%;}
.container_1297 UL{clear:both;list-style-position:outside;list-style-type:decimal;text-align:justify;}
.container_1297 LI{padding-bottom:10px;padding-top:10px;}
.container_1297 DIV{padding-right:20px;padding-left:20px;padding-bottom:20px;padding-top:20px;}
.container_1297 DIV:nth-of-type(1) UL:nth-of-type(1) UL{display:inline-block;}
.container_1297 TH{text-transform:uppercase;padding-right:10px;padding-left:10px;padding-bottom:10px;padding-top:10px;font-size:16px;color:rgb(180,213,232);background-color:rgb(52,171,239);}
.container_1297 TD{padding-right:10px;padding-left:10px;padding-bottom:10px;padding-top:10px;}
.container_1297 TABLE{text-align:center;}